{%  extends 'main/base.html' %}

{% block body %}

    {% for post in all_post %}
        <div class="row post">
        <p><strong><h3>{{ post.title }}</h3></strong></p>
            <p><strong> Автор: </strong> {{ post.author }}</p>
            <p><strong> Дата создания: </strong> {{ post.created_date }}</p>
        <p>{{ post.post|truncatewords:50 }}</p>
        <img src="{{ post.image.url }}" class="image_prew img-responsive" />

        <a href="{% url 'main:detail' post.id %}" ><button class="btn btn-default">Далее</button></a>
        {% for cat in category %}
            {{ cat.category }}
        {% endfor %}
        </div>
    {% endfor %}

{% endblock %}